# To remove files not to be tracked
# use git rm --cached filename
# git
.gitignore

# Xcode
DerivedData/
build/

# User data
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
UserInterfaceState.xcuserstate

# SwiftPM
.build/

# macOS
.DS_Store

# Archives
*.ipa
*.dSYM
*.dSYM.zip
